* {
  padding: 0px;
  margin: 0px;
}

body h1 {
   text-align: center;
   font-family: Courier;
   font-weight: bold;
   padding: 10px;
   color: green;
 }
 
.container .gambar1 {
  width: auto;
  height: auto;
}